version: '3.8'

services:
  api:
    build: ./Dockerfile.cn
    ports:
      - "8000:8000"
    environment:
      - ADMIN_USER=${ADMIN_USER:-admin}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-password}
      - IGNORED_EVENTS=${IGNORED_EVENTS:-exec_create,exec_start,exec_die}
      - GIT_AUTO_UPDATE=true
      - GIT_REPO_URL=https://githubfast.com/CodeFuckee/mobile_portainer.git
      - GIT_BRANCH=main
      - GIT_CHECK_INTERVAL=60
      - GIT_SSL_NO_VERIFY=true
      - HOST_FILESYSTEM_ROOT=/hostfs
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - /:/hostfs:ro
      - /proc:/hostfs/proc:ro
    restart: unless-stopped
    container_name: mobile-portainer-api
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]